* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 750px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #A6A6A6;
}

#display {
    display: flex;
    justify-content: end;
    align-self: center;
    width: 310px;
    margin: 20px 0px 20px 0px;
    padding: 150px 0px 0px 0px;
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 50px;
    text-align:end;
}

.group-of-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
    background-color: #D9D9D9;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 65px;
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 8px;
    cursor: pointer;
}

button.button-text {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: #F13232;
    border: none;
    color: white;
}

button.button-text:nth-last-child(2) {
    background-color: black;
}

button.button-text:hover {
    background-color: #ff2323;
}

button.button-text:nth-last-child(2):hover {
    background-color: rgb(39, 39, 39);
}

.button-number-small {
    display: flex;
    padding: 0px 5px;
    align-self: center;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

button.button-number {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0px 15px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: white;
    border: none;
}

button.button-number:hover {
    background-color: black;
    color: white;
}

.button-symbol {
    display: flex;
    padding: 0px 15px;
    align-self: center;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

button .button-symbol {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    color: blue;
}